<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>Spam Detection Register</h2>

<form action="/register_user" method="post">
<input type="text" name="username" placeholder="Enter Username" required>
<input type="password" name="password" placeholder="Enter Password" required>
<input type="submit" value="Create Account">
</form>

<br>
<a href="/">Already have an account? Login Here</a>

</div>

</body>
</html>


